body {
  margin: 0;
  padding: 0;
  background: url(img/aaib8cgjd9u21.png) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.wrapper {
  width: 95vw;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.box {
  position: relative;
  width: 180px;
  height: 230px;
  margin: 0 5px;
  animation: fadeInAnimation ease-in-out 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  opacity: 0;
}

.box1 {
  background: url(img/735867.jpg) no-repeat center center;
  background-size: cover;
  animation-delay: 2.7s;
}

.box2 {
  background: url(img/735867.jpg) no-repeat center center;
  background-size: cover;
  animation-delay: 2.2s;
}

.box3 {
  background: url(img/735867.jpg) no-repeat center center;
  background-size: cover;
  animation-delay: 1.7s;
}

.box4 {
  background: url(img/735867.jpg) no-repeat center center;
  background-size: cover;
  animation-delay: 1.2s;
}

.box5 {
  background: url(img/735867.jpg) no-repeat center center;
  background-size: cover;
  animation-delay: 0.7s;
}

.box6 {
  background: url(img/735867.jpg) no-repeat center center;
  background-size: cover;
  animation-delay: 1.2s;
}

.box7 {
  background: url(img/735867.jpg) no-repeat center center;
  background-size: cover;
  animation-delay: 1.7s;
}

.box8 {
  background: url(img/735867.jpg) no-repeat center center;
  background-size: cover;
  animation-delay: 2.2s;
}

.box9 {
  background: url(img/735867.jpg) no-repeat center center;
  background-size: cover;
  animation-delay: 2.7s;
}
.reveal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.reveal p {
  color: red;
}

.card {
  width: 100%;
  height: 100%;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: url(img/card/archer.jpg) no-repeat center top;
  background-size: cover;
  transform-origin: top;
  transition: all cubic-bezier(1, 0, 0, 1) 600ms;
}

.box:hover .card::before {
  transform: rotateX(90deg) translateY(-50%);
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: url(img/card/archer.jpg) no-repeat center bottom;
  background-size: cover;
  transform-origin: bottom;
  transition: all cubic-bezier(1, 0, 0, 1) 600ms;
}

.box:hover .card::after {
  transform: rotateX(90deg) translateY(50%);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
